spring:
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
logging:
  level:
    root: info
    org.springframework.security: trace
    xyz:
      catuns:
        edupulse:
          profile: debug
server:
  port: 8084